#informacionPrincipal,
#serviciosCharanga {
  width: 60%;
  margin: auto;
   background-color: rgb(124, 181, 238);
}

#fotoPrincipal {
  text-align: center;
  margin: auto;
}

#textoPrincipal {
  text-align: center;
}

h2,h3{
  text-align: center;
}
#whatsapp,
#youtube,
#difusion {
  width: 33%;
  float: left;
  border: 1px black solid;
  height: 250px;
  text-align: center;
  background-color: white;
   margin-bottom: 200px;
}
#video{
  margin: auto;
  width: 60%;
  text-align: center;
}
#principal{
  margin: auto;
  width: 60%;
  height: 2000px;
}


