header {
  border: solid 1px black;
  height: 80px;
}

.Logo {
  height: 80px;
  width: 40%;
  text-align: center;
  float: left;
  background-color: antiquewhite;
}

.Cabezera {
  height: 80px;
  width: 60%;
  text-align: center;
  float: right;
  background-color: aliceblue;
}

a{
color: blue;
}
a:hover{
  color: rgb(65, 225, 65);
}
#Inicio,
#InformacionCharangas,
#Noticias,
#Presupuestos {
  height: 80px;
  float: right;
  background-color: aqua;
  width: 25%;
}

#publicidadIzq {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  left: 0px;
  width: 20%;
  height: 600px;

}

#publicidadDech {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  right: 0px;
  width: 20%;
  height: 600px;

}

#informacionPrincipal,
#serviciosCharanga {
  width: 60%;
  margin: auto;
  background-color: antiquewhite;
}

#fotoPrincipal {
  text-align: center;
  margin: auto;

}

#textoPrincipal {
  text-align: center;
}

#whatsapp,
#youtube,
#difusion {
  width: 33%;
  float: left;
  border: 1px black solid;
  height: 200px;
  text-align: center;
}

.footer-principal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, var(--color-primario) 0%, var(--color-secundario) 100%);
    padding: 20px 40px;
    z-index: 1000;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    border-top: 3px solid var(--color-acento);
}
.info-contacto {
    text-align: center;
    margin-bottom: 10px;
}

.info-contacto p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--color-texto-secundario);
}

.info-contacto strong {
    color: var(--color-dorado);
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    color: var(--color-texto-secundario);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
}