form {
  text-align: center;
  background-color: antiquewhite;
}
#principal {
  width: 60%;
  margin: auto;
  height: 775px;
}

fieldset {
  width: 50%;
  margin: auto;
  border: blue solid 1px;
}

.campo-formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.campo-formulario label {
    color: var(--color-texto);
    font-weight: bold;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
}

.obligatorio {
    color: rgb(185, 73, 73);
}

.opcional {
    color: var(--color-texto-secundario);
    font-style: italic;
}

