#principal {
  background-color: antiquewhite;
  margin: auto;
  width: 60%;
  height: 1200px;
  border: 1px solid black;
}

#noticia1,
#noticia2,
#noticia3,
#noticia4,
#noticia5{
  height: 200px;
}

#texto-noticia1,
#texto-noticia2,
#texto-noticia3,
#texto-noticia4,
#texto-noticia5 {
  float: right;
  width: 65%;
}

#foto-noticia1,
#foto-noticia2,
#foto-noticia3,
#foto-noticia4,
#foto-noticia5{
  float: left;
  width: 35%;
}