header {
  height: 80px;
  margin-top: 110px;
}
body {
  background-color: rgb(124, 181, 238);
}

#cabezera-estatica {
  text-align: center;
  height: 100px;
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
 animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Logo {
  height: 80px;
  width: 40%;
  text-align: center;
  float: left;
  background-color: rgb(124, 181, 238);
}

.Cabezera {
  height: 80px;
  width: 60%;
  text-align: center;
  float: right;
  background-color: rgb(124, 181, 238);
  margin-top: 20px;
}

.Cabezera a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: rgb(65, 225, 65);
}
#Inicio,
#InformacionCharangas,
#Noticias,
#Presupuestos {
  height: 80px;
  float: right;
  background-color: rgb(124, 181, 238);
  width: 25%;
}

#publicidadIzq {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  left: 0px;
  width: 20%;
  height: 700px;
  animation: deslizIzquierda 5s ease-out forwards;
}

@keyframes deslizIzquierda {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

#publicidadDech {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  right: 0px;
  width: 20%;
  height: 700px;
  animation: deslizDerecha 5s ease-out forwards;
}
@keyframes deslizDerecha {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

.correo-rojo {
  color: red;
  margin-left: 120px;
}
.imagen {
  margin-left: 80px;
}
p,
h2 {
  text-align: center;
}
.publicidad-nuestra {
  margin-top: 50px;
  margin-left: 80px;
  width: 50%;
}

.footer-principal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: beige;
  border: 1px black solid;
}
.info-contacto {
  text-align: center;
  margin-bottom: 10px;
}
