header {
  border: solid 1px black;
  height: 80px;
}
body {
   background-color: rgb(124, 181, 238);
}
.Logo {
  height: 80px;
  width: 40%;
  text-align: center;
  float: left;
  background-color: rgb(124, 181, 238);
}

.Cabezera {
  height: 80px;
  width: 60%;
  text-align: center;
  float: right;
   background-color: rgb(124, 181, 238);
}

a.Cabezera {
  color: blue;
}
a:hover {
  color: rgb(65, 225, 65);
}
#Inicio,
#InformacionCharangas,
#Noticias,
#Presupuestos {
  height: 80px;
  float: right;
  background-color: rgb(124, 181, 238);
  width: 25%;
}

#publicidadIzq {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  left: 0px;
  width: 20%;
  height: 775px;
}

#publicidadDech {
  border: 2px solid;
  background-color: gainsboro;
  position: fixed;
  right: 0px;
  width: 20%;
  height: 775px;
}

#informacionPrincipal,
#serviciosCharanga {
  width: 60%;
  margin: auto;
   background-color: rgb(124, 181, 238);
}

#fotoPrincipal {
  text-align: center;
  margin: auto;
}

#textoPrincipal {
  text-align: center;
}

h2,h3{
  text-align: center;
}
#whatsapp,
#youtube,
#difusion {
  width: 33%;
  float: left;
  border: 1px black solid;
  height: 200px;
  text-align: center;
  background-color: white;
   margin-bottom: 200px;
}

.footer-principal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: beige;
  border: 1px black solid;
}
.info-contacto {
  text-align: center;
  margin-bottom: 10px;
}


