header {
  border: solid 1px black;
  height: 100px;
}

.Logo {
  height: 100px;
  width: 40%;
  text-align: center;
  float: left;
  background-color: antiquewhite;
}
.Cabezera {
  height: 100px;
  width: 60%;
  text-align: center;
  float: right;
  background-color: aliceblue;
}
#Inicio{
height: 100px;
float: right;
background-color: aqua;
width: 25%;
}
#InformacionCharangas{
height: 100px;
float: right;
background-color: aqua;
width: 25%;
}
#Noticias{
height: 100px;
float: right;
background-color: aqua;
width: 25%;

}
#Presupuestos{
height: 100px;
float: right;
background-color: aqua;
width: 25%;

}
