.ubi {
  text-align: center;
  color: rgb(187, 43, 43);
}
#principal {
  width: 60%;
  margin: auto;
  background-color: bisque;
  height: 1200px;
}
#principal-linea1,
#principal-linea2,
#principal-linea2 {
  height: 280px;
}
#charanga1,
#charanga2,
#charanga3,
#charanga4,
#charanga5,
#charanga6,
#charanga7,
#charanga8,
#charanga9 {
  float: left;
  text-align: center;
  width: 33.15%;
  border: 2px solid blue;
  height: 280px;
  transition: transform 0.3s ease-in-out;
}
.imagen-hover:hover {
  transform: scale(1.1);
}

#proximamente {
  width: 60%;
  animation: movimiento-lineal 5s linear infinite;
}

@keyframes movimiento-lineal {
  0% {
 transform: translate(-40%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
